<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}        
        <img src="./img/WhatsApp Image 2024-01-15 at 9.31.08 AM.jpeg" alt="">
        {{>footer}}
    </body>
</html>